.country {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 20rem;
  max-width: 400px;
}

.country img {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

section {
    background: #2b3945;
    padding: 1.5rem;
    height: 50%;
  }

#countryName {
    font-weight: 800;
}

.countryInfo {
    margin-top: 0.5rem;
}

.countryInfo div {
    font-weight: 600;
}

span {
    font-weight: 300;
}
