/* .searchBar {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
} */

/* button {
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    font-weight: 300;
    color: #ffffff;
    background: #2b3945;
    border: none;
    border-radius: 0.2rem;
}

.regionDropdown {
    padding: 2rem;
    background: #2b3945;
}

li {
    margin-bottom: 0.3rem;
    cursor: pointer;
    list-style: none;
} */